@()

<footer id="footer">
    <div class="container">

        <div class="row">
            <div class="col-md-3 col-sm-6 margin30">
                <div class="footer-col">
                    <h3>About RealEx</h3>
                    <p>
                        The RealEx Platform enables all accredited investors to make and manage investments within a discreet, secure environment. Sponsors can utilize the RealEx Platform to source funds, manage their investor pools, and market themselves.
                    </p>
                    <ul class="list-inline social-1">
                        <li><a href="https://www.facebook.com/realexexchange"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/RealEx_Exchange"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/realex?trk=company_logo"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div><!--footer col-->
            <div class="col-md-3 col-sm-6 margin30">
                <div class="footer-col">
                    <h3>Contact</h3>

                    <ul class="list-unstyled contact">
                        <li><p><strong><i class="fa fa-map-marker"></i> Address:</strong> 222 W Merchandise Mart Plaza Rd, Floor 12,Chicago, IL, 60654 </p></li>
                        <li><p><strong><i class="fa fa-envelope"></i> Mail Us:</strong> <a href="#">info@@realex.co</a></p></li>
                        <li> <p><strong><i class="fa fa-twitter"></i> Tweet:</strong>@@realex_exchange</p></li>
                            <!-- <li> <p><strong><i class="fa fa-print"></i> Fax</strong> 1800 2345 2132</p></li>
                                <li> <p><strong><i class="fa fa-skype"></i> Skype</strong> assan.856</p></li> -->

                    </ul>
                </div>
            </div><!--footer col-->
            <div class="col-md-6 col-sm-12 margin30">
                <div class="footer-col">
                    <h3>Newsletter</h3>
                    <p>
                        Stay up to date by subscribing to ours newsletter
                    </p>
                    <div id="mc_embed_signup">
                        <form action="//joinrealex.us11.list-manage.com/subscribe/post?u=53ff7105d380abfcdc98406b2&amp;id=c234f3805c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <input type="email" value="" name="EMAIL" class="email form-control" id="mce-EMAIL" placeholder="email address" required>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                <div style="position: absolute; left: -5000px;"><input type="text" name="b_53ff7105d380abfcdc98406b2_c234f3805c" tabindex="-1" value=""></div>
                                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div><!--footer col-->

        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="footer-btm">
                    <span>&copy;2015. RealEx</span>
                </div>
            </div>
        </div>
    </div>
</footer><!--default footer end here-->