@import providers.MyUsernamePasswordAuthProvider
@(isLight: Boolean)

@import be.objectify.deadbolt.java.views.html._
@import com.feth.play.module.pa.views.html._

    <div id="header-top" class="hidden-xs">
        <div class="container">
            <div class="top-bar">
                <div class="pull-left sample-1right">
                    <a><i class="fa fa-phone"></i> Any questions? Call us: <span class="colored-text"> 847.372.9114</span> </a>
                    <a><i class="fa fa-envelope"></i> E-Mail us: <span class="colored-text">info@@realex.co</span> </a>
                </div>
                <div class="pull-right">
                    <ul class="list-inline top-social">
                        <li>Follow us:</li>
                        <li><a href="https://www.facebook.com/realexexchange" target="_blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://twitter.com/RealEx_Exchange" target="_blank"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.linkedin.com/company/realex" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div><!--top bar end hidden in small devices-->

    <!--navigation -->
    <!-- Static navbar -->
    <div class="navbar navbar-default navbar-static-top yamm sticky" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @if(isLight) {
                <a class="navbar-brand" href="/home"><img src="//realexassets.s3.amazonaws.com/images/realex/RealEx_Logo_Dark.png" alt="RealEx Logo"></a>
                } else {
                <a class="navbar-brand" href="/home"><img src="//realexassets.s3.amazonaws.com/images/other_images/logo_light.png" alt="RealEx Logo"></a>
                }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/properties" class="active">Properties</a></li>
                    <li><a href="/sponsors" class="">Sponsors</a></li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">About <i class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/about">About Us</a></li>
                                <!-- <li><a href="me.html">About - Me</a></li> -->
                            <li><a href="/faq">FAQS</a></li>
                                <!-- <li><a href="email-template.html">Email Template</a></li> -->
                            <li><a href="/contact">Contact Us </a>
                                    <!-- <ul class="dropdown-menu"> -->

                            </li>

                        </ul>
                    </li>
                        <!--mega menu end-->

                    @subjectPresentOr() {

                        @defining(Application.getLocalUser(session())) { user =>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="glyphicon glyphicon-user"></i> @user.name <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="@routes.Application.profile()">@Messages("playauthenticate.navigation.profile")</a></li>

                                    @defining(Document.countUnreadByUser(user.id)) { unreadCount =>
                                        <li><a href="/account/documents">Investment Documents
                                            @if(unreadCount > 0) {<span class="badge"> @unreadCount</span>}
                                            </a></li>
                                    }

                                    <li><a href="@routes.Application.account()">@Messages("Investment Summary")</a></li>
                                    <li><a href="@com.feth.play.module.pa.controllers.routes.Authenticate.logout()"><i class="icon-off"></i> <em>@Messages("playauthenticate.navigation.logout")</em></a></li>
                                </ul>
                            </li>
                        }

                    } {
                        @defining(MyUsernamePasswordAuthProvider.LOGIN_FORM) { loginForm=>

                            @if(flash.contains(Application.FLASH_ERROR_KEY) || flash.contains(Application.FLASH_MESSAGE_KEY) || loginForm.hasGlobalErrors) {
                            <li class="dropdown open"> } else {
                                <li class="dropdown">
                                }

                        <a href="#" class=" dropdown-toggle" data-toggle="dropdown"><i class="fa fa-lock"></i></a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-login-box animated fadeInUp">
                            @*<form role="form" method="post" action="@routes.Application.doLogin()">*@
                            @helper.form(routes.Application.doLogin, 'role -> "form") {
                                <h4>Signin</h4>


                                @if(flash.contains(Application.FLASH_ERROR_KEY)) {
                                    <div class="alert alert-danger" role="alert">
                                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">
                                            Close</span></button>
                                        @flash().get(Application.FLASH_ERROR_KEY)
                                    </div>
                                }
                                @if(flash.contains(Application.FLASH_MESSAGE_KEY)) {
                                    <div class="alert alert-success" role="alert">
                                        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">
                                            Close</span></button>
                                        @flash().get(Application.FLASH_MESSAGE_KEY)
                                    </div>
                                }

                                @if(loginForm.hasGlobalErrors) {
                                    <p class="alert alert-danger">
                                    @loginForm.globalError.message
                                    </p>
                                }

                                <div class="form-group">

                                    @if(loginForm.error("email") != null) {
                                        <div class="form-group input-group has-error">
                                        } else {
                                        <div class="form-group input-group">
                                        }
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input type="email" class="form-control" id="email" placeholder="Email Address" name="email">
                                </div>
                                    <br>

                                    @if(loginForm.error("password") != null) {
                                        <div class="form-group input-group has-error">
                                        } else {
                                        <div class="form-group input-group">
                                        }
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                                </div>
                                    <div class="checkbox pull-left">
                                        <label>
                                            <input type="checkbox"> Remember me
                                        </label>
                                    </div>
                                    <button type="submit" class="btn btn-theme pull-right">Login</button>
                                        <!-- <button type="submit" class="btn btn-theme pull-right">Login</button>                 -->
                                    <div class="clearfix"></div>
                                    <hr>
                                    <a href="javascript:void(0);" onclick="window.location.href = jsRoutes.controllers.Signup.forgotPassword($('#email').val() || null).absoluteURL();">@Messages("playauthenticate.login.forgot.password")</a>
                                    <p>Don't have an account! <a href="/signup">Register Now</a></p>
                                </div>
                                    @*</form>*@
                                }
                                }
                        </div>
                    </li> <!--menu login li end here-->
                    }

                </ul>
            </div><!--/.nav-collapse -->
        </div><!--container-->
    </div><!--navbar-default-->
