@(verificationUrl: String, token: String, name: String, email: String)
Hello @name,
<br />
<br />
<p>
	You recently signed up for RealEx.<br />
	<br />
	Follow this link to <a href="@verificationUrl">activate your account</a> now.
</p>
<br />
<p>
	Cheers,<br /> 
	<i>Stephen Lowinger, Co-Founder at RealEx</i>
</p>