@(verificationUrl: String, token: String, name: String, email: String)
Hello @name,
<br />
<br />
<p>
	To verify your e-mail address, <a href="@verificationUrl">now follow this link</a>.
</p>
<br />
<p>
	Cheers,<br /> 
	<i>Stephen Lowinger, Co-Founder at RealEx</i>
</p>