@(resetForm: Form[controllers.Signup.PasswordReset])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@main(Messages("playauthenticate.password.reset.title")) {

	<div class="container">

	<h1>@Messages("playauthenticate.password.reset.title")</h1>
	<p>
	@form(routes.Signup.doResetPassword, 'class -> "form-horizontal", 'role -> "form") {

       @if(resetForm.hasGlobalErrors) {

     	<p class="alert alert-danger">
          @resetForm.globalError.message
     	</p>
       }

        @input(
   			resetForm("token"),
   			'_label -> "",
   			'_showConstraints -> false

   		) { (id, name, value, args) =>
		    <input type="hidden" value="@value" name="@name" id="@id" @toHtmlArgs(args)>
		}

	   @_passwordPartial(resetForm)

    <button type="submit" class="btn btn-default">@Messages("playauthenticate.password.reset.cta")</button>
	}
	</p>
	</div>
}

