@(changeForm: Form[controllers.Account.PasswordChange])

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }

@main(Messages("playauthenticate.change.password.title")) {

	<div class="divide60"></div>

	<h1>@Messages("playauthenticate.change.password.title")</h1>
	<p>
	@form(routes.Account.doChangePassword, 'class -> "form-inline", 'role -> "form") {

       @if(changeForm.hasGlobalErrors) {
        <p class="alert alert-danger">
          @changeForm.globalError.message
     	</p>
       }

	   @_passwordPartial(changeForm)

    <button type="submit" class="btn btn-default">@Messages("playauthenticate.change.password.cta")</button>
	}
	</p>
	<div class="divide60"></div>
}
