@(loginForm: Form[_], loginFail: Boolean)

@import helper._
@implicitFieldConstructor = @{ FieldConstructor(twitterBootstrapBasic.f) }
@import be.objectify.deadbolt.java.views.html._

    @main("About Us") {

        <div class="breadcrumb-wrap">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <h4>About Us</h4>
                    </div>
                    <div class="col-sm-6 hidden-xs text-right">
                        <ol class="breadcrumb">
                            <li><a href="/home">Home</a></li>
                            <li>about us</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div><!--breadcrumbs-->

        <div class="divide80"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-6 margin20">
                    <h3 class="heading">our story</h3>
                    <p>
                        Our story began with a simple question, how do you improve an asset class? RealEx was dreamt up as a means to making the alternative asset class of Commercial Real Estate, liquid. What we came to realize was that building a liquid exchange for Commercial Real Estate assets first required us to build a platform up to the investment community standards that featured product up to our standards.
                    <p>

                        RealEx’s investment platform and network of exclusive partners reflects our high standards. Continue to follow our story through the blog posts below and we welcome you to join our newsletter for our latest updates. Please feel free to contact us through social media or directly.
                    <p><i>
                        RealEx is a better way forward for the Commercial Real Estate asset class.

                        <i></p>
                    <p><a href="#team-members" class="btn border-black btn-lg">Meet the Team</a></p>
                </div>
                <div class="col-md-6">
                    <img src="//realexassets.s3.amazonaws.com/images/realex/showcase-1.jpg" class="img-responsive" alt="">
                </div>
            </div><!--about intro-->
            <div class="divide60"></div>
            <div class="row">
                <div class="col-md-6 margin20">
                    <h3 class="heading">Why RealEx?</h3>
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                        <i class="fa fa-users"></i>    Exclusive Sponsor Network
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="panel-body">
                                    RealEx's Sponsor partners have agreed to list investment opportunities exlusively on the RealEx Platform.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                        <i class="fa fa-area-chart"></i>    Best-In-Class Investment Management Tools
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse">
                                <div class="panel-body">
                                    Investment Management tools built by Financial Services experts. Working to continuously improve the way you manage and monitor your investments.
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                        <i class="fa fa-envelope"></i> Dedicated Team
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse">
                                <div class="panel-body">
                                    RealEx is here to serve our investors and our Sponsor partners. No investor is too small, no question is stupid. We are committed to being successful because our investors are successful.
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!--why hire us-->

                <div class="col-md-6 margin20">
                    <h3 class="heading">Our Highlights</h3>
                    <p>
                        RealEx's
                    </p>
                    <ul class="list-unstyled highlight-list">
                        <li><i class="fa fa-check"></i> Access for investors</li>
                        <li><i class="fa fa-check"></i> Added liquidity through secondary market</li>
                        <li><i class="fa fa-check"></i> Opportunity for sponsors to earn equity</li>
                        <li><i class="fa fa-check"></i> Automation and investment reporting</li>
                    </ul>
                </div>
            </div><!--row of skills collapse and highlights-->

        </div><!--.container-->
        <div class="divide60"></div>

        <div class="container" id="team-members">
            <div class="row">
                <div class="col-md-12">
                    <div class="center-heading">
                        <h2>Leading team members</h2>
                        <span class="center-line"></span>
                        <p class="lead">Our backgrounds encompass real estate, finance, technology and trading.</p>
                    </div><!--center-heading-->
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 margin20 team-member">
                    <div class="team-wrap">
                        <img src="//realexassets.s3.amazonaws.com/images/other_images/simon.jpg" class="img-responsive" alt="">
                        <h4>Simon Holstein</h4>
                        <span>Founder & CEO</span>
                        <p>
                            A lifelong follower of financial markets and exposed to Commercial Real Estate since a young age, Simon naturally pondered the means of integrating the two. Simon attended the University of Illinois at Urbana-Champaign where he majored in History. He worked for Wells Fargo as an analyst in the Wholesale Banking unit focused on Commercial Real Estate. Prior to focusing on RealEx full time, Simon worked at PEAK6, a proprietary trading firm in Chicago. He is an MBA candidate at the University of Chicago, Booth School of Business.
                        </p>
                        <ul class="list-inline social-1">
                            <li><a href="https://www.linkedin.com/profile/view?id=232979315"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://twitter.com/simmonds426"><i class="fa fa-twitter"></i></a></li>
                        </ul><!--social-->
                    </div><!--team-wrap-->
                </div><!--team col-->
                <div class="col-md-6 margin20 team-member">
                    <div class="team-wrap">
                        <img src="//realexassets.s3.amazonaws.com/images/other_images/stephen.jpg" class="img-responsive" alt="">
                        <h4>Stephen Lowinger</h4>
                        <span>Cofounder & CTO</span>
                        <p>
                            As CTO, Stephen leads software development for the RealEx platform. He is passionate about designing and building software solutions. Stephen is currently pursuing a master’s degree in computer science from the University of Chicago. Previously, Stephen maintained and developed monitoring solutions for trading systems at Peak6 Investments LP. Additionally, he holds a bachelor’s degree in Mechanical Engineering from Lafayette College.
                        </p>
                        <ul class="list-inline social-1">
                            <li><a href="https://www.linkedin.com/profile/view?id=AAMAABHmbp0Bnk0OnwaobSxzN6oxq94vGq0Imdg"><i class="fa fa-linkedin"></i></a></li>
                            <li><a href="https://twitter.com/StephenLowinger"><i class="fa fa-twitter"></i></a></li>
                        </ul><!--social-->
                    </div><!--team-wrap-->
                </div><!--team col-->
            </div>
        </div><!--team-->
        <div class="divide60"></div>
    }